*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 800px;
  height: inherit;
  margin: 0;
  font-family: Raleway, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}
